* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header h3{
    color: red;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.content .box1 {
    display: flex;
    /* flex-direction: column; */
    border: 2px solid blue;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    height: 50vh;
    width: 100%;
}

.content .box2 {
    display: flex;
    /* flex-direction: column; */
    border: 2px solid blue;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    height: 50vh;
    width: 100%;
}

@media screen and (min-width:1024px) {
    .content {
        flex-direction: row;
    }

    .content .box1 {
        border-radius: 5px 0px 0px 5px;
        height: 100vh;
        width: 20%
    }

    .content .box2 {
        border-radius: 0px 5px 5px 0px;
        height: 100vh;
        width: 80%;
    }

}